<!-- This html file is inherited by each html page (if following example.html) so any code that will be present on every page (like a navigation bar) will go here -->
<!doctype html>
<html lang="en" style="height:100%;">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
        <!-- Custom CSS Files -->
        <link rel="stylesheet" href="../static/css/theme.css">
        <link rel="stylesheet" href="../static/css/theme.min.css">

        <title>{% block title %}{% endblock %} - Societal Ventures</title>

        {% block style %}{% endblock %}
    </head>
    <body id="webpage">

        {% block content %}{% endblock %}

        <!-- Importing Bootstrap and Vue3 Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <!-- Example Vue Application -->
        <!-- <div id="app">{{ message }}</div>

        <script>
        const { createApp } = Vue

        createApp({
            data() {
            return {
                message: 'Hello Vue!'
            }
            }
        }).mount('#app')
        </script> -->

        {% block scripts %}{% endblock %}
    </body>
</html>
